@import "../../styles/globals.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items:center;
    color: black;

    section {
        width: 90%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background-color: none;
        @include mobile-viewport {
            justify-content: space-between;
            flex-direction: column;
        }

        .header {
            font-size: 30px;
            white-space: nowrap;
            padding-right: 50px;
        }

        .search {
            display: flex;
            width: 100%;
        }
        
        input {
            border-radius: 10px;
            border: none;
            width: 104%;
            height: 50px;
            @include basic-boxshadow;
            @include font;
            font-weight: 500;
        }

        .button {
            border-radius: 10px;
            border: none;
            margin-left: 10px;
            cursor: pointer;
            @include font;
            @include basic-boxshadow;
        }

        .disabled {
            border-radius: 10px;
            border: none;
            background-color: lightgray;
            cursor:not-allowed;
            margin-left: 10px;
            @include font;
            @include basic-boxshadow;
        }
    }
}