@import "../../styles/globals.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 10px;
  border-radius: 10px;
  @include basic-boxshadow;

  @include mobile-viewport {
    width: 95%;
}

  header {
    border-radius: 10px 10px 0 0;
    padding: 10px;
    text-align: left;
    font-size: 30px;
    box-shadow: 0 0 6px rgba(33,33,33,.2);
  }

  .subtitle {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    @include mobile-viewport {
      width: 94%;
  }


    h1 {
      font-size: 20px;
    }
  }


  img, .temp {
    margin-left:15px;
}

  .mainCard {
    display: flex;  
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 300px;
    width: 100%;
    max-width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: white;
    @include font;

  }
}
