//Constants

$font-color: black;
$secondary-background: ghostwhite;


//Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Space+Grotesk:wght@300&family=Urbanist:wght@300&display=swap');;

//Mixins

@mixin font {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    color: black;
}

@mixin basic-gradient {
    background-color:hsla(181,100%,50%,0.72);
background-image:
radial-gradient(at 52% 53%, hsla(183,59%,64%,1) 0px, transparent 50%),
radial-gradient(at 40% 20%, hsla(240,93%,64%,0) 0px, transparent 50%),
radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%);
}

@mixin basic-boxshadow {
    transition: box-shadow .3s; 
    box-shadow: 0 0 6px rgba(33,33,33,.2);
    &:hover { box-shadow: 0 0 15px rgba(33,33,33,.2); }
}

@mixin mobile-viewport {
    @media (max-width: 800px) {
      @content
    }
}