@import "../../styles/globals.scss";

.container {
display: flex;
flex-direction: column;
justify-content: space-around;
margin: 20px 10px;
border-radius: 10px;

button {
    display: flex;
    justify-content: flex-end;
    background: none;
    border: none;
    margin-right: 10px;
    @include font
}
}

