@import "../../styles/globals.scss";

body {
    height: 100%;
    background-color:whitesmoke;

    .container {
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        @include font;

}

}