@import "../../styles/globals.scss";

.cardContainer {
    display: flex;
    justify-content: space-around;
    @include mobile-viewport {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    };

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 250px;
        width: 320px;
        padding: 20px;
        margin: 0px 5px;
        border-radius: 15px;
        background-color: white;
        @include font;
        @include basic-boxshadow;
        @include mobile-viewport {
            margin-bottom: 20px;
            width: 300px;
        }
    }
   }